<section>

  <div class="details pull-left">
    <section>
      <div class="detail">
        <span class="info-label" translate>Login</span>
        <span class="info-value"
              alch-edit-text="user.login"
              readonly="user.readonly"
              on-save="save(user)">
        </span>
      </div>
      <div class="detail">
        <span class="info-label" translate>Email</span>
        <span class="info-value"
              alch-edit-text="user.mail"
              readonly="user.readonly"
              on-save="save(user)">
        </span>
      </div>
      <div class="detail">
        <span class="info-label" translate>First Name</span>
        <span class="info-value"
              alch-edit-text="user.firstname"
              readonly="user.readonly"
              on-save="save(user)">
        </span>
      </div>
      <div class="detail">
        <span class="info-label" translate>Surname</span>
        <span class="info-value"
              alch-edit-text="user.lastname"
              readonly="user.readonly"
              on-save="save(user)">
        </span>
      </div>
      <div class="detail">
        <span class="info-label" translate>Authorization Source</span>
        <span class="info-value"
              alch-edit-text="user.auth_source_internal.name"
              readonly="true"
              on-save="save(user)">
        </span>
      </div>
    </section>
  </div>
</section>
